@import "bootstrap";
@import "variables";
@import "imports";

body {
  text-align: center;
  color: #222;
  overflow-y: scroll;
}

.welcome {
  width: 300px;
  height: 510px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -255px;
}

a, a:visited {
  text-decoration: none;
}

.content{
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
}

.block-images{
  margin: 10px 0;
}

.img-responsive{
  margin: 0 auto;
}

.main-container{
  height: 90%;
}

footer{
  background: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}